<h1>kiire.fi <em>alpha</em></h1>

<% form_for :user, :url => session_path do |f| %>
  <div id="login-form">
    <%= f.label :username, t("session.username") %>
    <%= f.text_field :username %>

    <%= f.label :password, t("session.password") %>
    <%= f.password_field :password %>

    <%= f.submit t("session.log_in") %>
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function() {
    username_field = $('#user_username')[0];
    password_field = $('#user_password')[0];
    if (username_field.value == '') {
      username_field.focus();
    } else {
      password_field.focus();
    }
  });
</script>

<div id="login-links">
  <% unless logged_in? %>
    <%= link_to t("session.register"), with_regular_hostname(new_user_path), :id => 'register' %>
  <% end%>
</div>

<div id="info-links">
  <%= link_to t("session.about_the_site"), info_path, :id => 'infos' %>
</div>
