<% form_for :user, :url => session_path do |f| %>
  <div id="login-form">
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit t("index.log_in") %>
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function() {
    username_field = $('#user_username')[0];
    password_field = $('#user_password')[0];
    if (username_field) {
      username_field.focus();
    } else if (password_field) {
      password_field.focus();
    }
  });
</script>

<div id="login-links">
  <% unless logged_in? %>
    <%= link_to t("session.register"), new_user_path, :id => 'register' %>
  <% end%>
</div>