<%= javascript_include_tag 'kiire.js' %>

<table id="place-fields">
  <tr>
    <td>
      <div class="place-field-container" id="from-container">
        <label for="from"><%= t("index.from") %></label>
        <input class="place" type="text" id="from" name="from" />
      </div>
      <div class="place-field-container" id="to-container">
        <label for="to"><%= t("index.to") %></label>
        <input class="place" type="text" id="to" name="to" />
      </div>
      <% if @show_via_field %>
        <div class="place-field-container" id="via-container">
          <label for="via"><%= t("index.via") %></label>
          <input class="place" type="text" id="via" name="via" />
        </div>
      <% end %>
    </td>
    <td>
      <button id="go"><%= t("index.go_now") %></button>
    </td>
  </tr>
</table>

<ul id="places">
  <% @places.each do |place| %>
    <li class="place" id="place-<%= place.id %>"><%= place.name %></li>
  <% end %>
</ul>

<script type="text/javascript">
  $(document).ready(function() {
    <% @places.each do |place| %>
      new Place(<%= raw(place.client_attributes.to_json) %>);
    <% end %>
    <% if @mobile_browser %>
      Kiire.useMobileReittiopas();
    <% end %>
  });
</script>
