
<h1><%= t("settings.title") %></h1>

<h2><%= t("settings.places.title")%></h2>

<div>
<% unless @places.empty? %>
  <table id="places-manager">
    <% @places.each do |place| %>
      <tr>
        <td>
          <%= h place.name  %>
        </td>
        <td class="delete">
          <%= link_to t("settings.places.delete"), place,
                      :method => :delete,
                      :class => :delete,
                      :confirm => t("settings.places.confirm_delete", :place => h(place.name)) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<% form_for @new_place do |f| %>
  <div>
    <%= f.label :name, t("settings.new_place.name")  %>
    <%= f.text_field :name %>

    <%= f.submit t("settings.new_place.add_place") %>
  </div>
<% end %>
</div>

<h2><%= t("settings.options.title") %></h2>
<div>
  TODO
</div>

<div class="back">
  <%= link_to t("settings.back"), root_path, :class => "back" %>
</div>
