
<h1><%= t("settings.title") %></h1>

<h2><%= t("settings.places.title")%></h2>

<% unless @places.empty? %>
  <ul id="my-places">
    <% @places.each do |place| %>
      <li><%= place.name  %></li>
    <% end %>
  </ul>
<% end %>

<% form_for @new_place do |f| %>
  <div>
    <%= f.label :name, t("settings.new_place.name")  %>
    <%= f.text_field :name %>

    <%= f.submit t("settings.new_place.add_place") %>
  </div>
<% end %>

<div class="back">
  <%= link_to t("settings.back"), root_path, :class => "back" %>
</div>
