<%= javascript_include_tag 'settings.js' %>

<script type="text/javascript">
  $(document).ready(function() {
    setupPlaceMovementGui('<%= (place_position_url :place_id => ':place_id').html_safe %>');
  });
</script>

<h1><%= t("settings.title") %></h1>

<h2><%= t("settings.places.title")%></h2>

<div class="field-group">
<% unless @places.empty? %>
  <table id="places-manager">
    <% @places.each do |place| %>
      <tr id="place-<%= place.id %>" class="place">
        <td class="name">
          <%= place.name  %>
        </td>
        <td class="edit">
          <%= link_to t("settings.places.edit"), edit_place_path(place) %>
        </td>
        <td class="delete">
          <%= link_to t("settings.places.delete"), place,
                      :method => :delete,
                      :class => :delete,
                      :confirm => t("settings.places.confirm_delete", :place => h(place.name)) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= form_for @new_place do |f| %>
  <div>
    <%= f.label :name, t("settings.new_place.name")  %>
    <%= f.text_field :name %>

    <%= f.submit t("settings.new_place.add_place") %>
  </div>
<% end %>
</div>

<h2><%= t("settings.options.title") %></h2>
<%= form_tag settings_path, :method => :put do %>
  <div>
    <div class="field-group">
      <div class="checkbox">
        <%= check_box_tag "settings[dont_require_login]", '1', current_user.get_setting_value(:dont_require_login) %>
        <%= label_tag "settings[dont_require_login]", t("settings.options.dont_require_login", :username => current_user.username) %>
      </div>

      <div class="checkbox">
        <%= check_box_tag "settings[show_via_field]", '1', current_user.get_setting_value(:show_via_field) %>
        <%= label_tag "settings[show_via_field]", t("settings.options.show_via_field") %>
      </div>
    </div>

    <h2><%= t("settings.options.mobile_browsers.title") %></h2>
    <div class="field-group">
      <p class="description">
        <%= t("settings.options.mobile_browsers.description", :link => (link_to 'm.reittiopas.fi', 'http://m.reittiopas.fi', :target => '_blank')).html_safe %>
      </p>
      <p class="hint"><%= t("settings.options.mobile_browsers.current_browser", :user_agent => @user_agent) %></p>
      <div>
        <%= text_area_tag "settings[mobile_browsers]", current_user.get_setting_value(:mobile_browsers), :rows => 6, :cols => 44 %>
      </div>
    </div>
    <%= submit_tag t("settings.options.save") %>
  </div>
<% end %>


<div class="back">
  <%= link_to t("settings.back"), root_path, :class => "back" %>
</div>
