<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>">

<head>
  <title>kiire.fi</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'style.css'  %>
  <%= javascript_include_tag 'jquery-1.4.1.min.js' %>
</head>
<body>

  <div id="header">
    <% if logged_in? %>
      <span><%= link_to t("application.start_page"), root_path  %></span>
      <span><%= link_to t("application.settings"), settings_path, :id => "settings-link" %></span>
      <span><%= link_to t("application.log_out"), session_path, :method => 'delete', :id => 'logout-link' %></span>
    <% end %>
  </div>

  <% unless flash.empty? %>
    <div id="flash-messages">
      <% [:success, :notice, :warning, :error].each do |category| %>
        <% if flash[category] %>
          <div class="<%= category %>"><%= flash[category] %></div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div id="main">
    <%= yield %>
  </div>
</body>
</html>