<!DOCTYPE html>
<html>
<head>
  <title>Kiire</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <% if logged_in? %>
      <span><%= link_to t("application.start_page"), root_path %></span>
      <span><%= link_to t("application.settings"), settings_path, :id => "settings-link" %></span>
      <span><%= link_to t("application.log_out"), session_path, { :method => :delete }, { :id => 'logout-link' } %></span>
    <% elsif !controller.is_a?(SessionsController) %>
      <%
        login_path =
          if username_from_hostname
            then new_session_path :username => username_from_hostname
            else new_session_path
          end
        login_path = with_regular_hostname(login_path)
      %>
      <span><%= link_to t("application.log_in"), login_path, :id => 'login-link' %></span>
    <% end %>
  </div>

  <% unless flash.empty? %>
    <div id="flash-messages">
      <% [:success, :notice, :warning, :error].each do |category| %>
        <% if flash[category] %>
          <div class="<%= category %>"><%= flash[category] %></div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div id="main">
    <%= yield %>
  </div>

</body>
</html>
